{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="w3-container ">
        <div class="w3-card w3-display-middle w3-border w3-border-black w3-round-small">
            <img src="{% static 'user_account/logo.png' %}"
            alt="Logo"
            style="width:100%" >
            <header class="w3-container w3-light-grey">
                <h2>Login</h2>
            </header>
            <form method="post" action="{% url 'login' %}"  class="w3-container w3-light-grey">
                {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                {% csrf_token %}
                {{form.username.errors}}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{form.password.errors}}
                {{ form.password.label_tag }}
                {{ form.password }}
                <br>
                <input type="submit"
                       value="login"
                       class="w3-btn w3-green w3-block w3-round-small">
                <input type="hidden" name="next" value="{{ next }}">
                <br>
            </form>
        </div>
    </div>
{% endblock body %}
