{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="w3-container ">
       
        <br>
        <br>
        <div class="w3-card w3-display-middle w3-border w3-round-small">
            <img src="{% static 'user_account/logo.png' %}"
            alt="Logo"
            class=" w3-image" >
            <header class="w3-container w3-light-grey">
                <h2>Login</h2>
                <!--{% if messages %}
            <ul class="messages w3-ul w3-border w3-round-small">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} w3-red w3-padding-small"{% endif %}>{{ message }}!</li>
                {% endfor %}
            </ul>
            {% endif %}-->
                <ul class="w3-ul">
                    {% for error in form.non_field_errors %}<li class="w3-red">{{ error }}</li>{% endfor %}
                </ul>
            </header>
            <form method="post" action="{% url 'login' %}"  class="w3-container">
                {% csrf_token %}
                {{form.username.errors}}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{form.password.errors}}
                {{ form.password.label_tag }}
                {{ form.password }}
                <br>
                <input type="submit"
                       value="login"
                       class="w3-btn w3-green w3-block w3-round-small">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <br>
        </div>
    </div>
{% endblock body %}
