{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'w3.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'jquery.dataTables.min.css'%}">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="{% static 'jquery.dataTables.min.js'%}"></script>
        <title>SIMS</title>
    </head>
    <body>
        {% block sidebar %}
        {% endblock sidebar %}
        <div style="margin-left: 25%;">
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
